.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 1fr 0.5fr 1fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    ". PersonalInfo PersonalInfo PersonalInfo SocialInfo ."
    ". Introduction Introduction Introduction Introduction ."
    ". Graduation Graduation Experience Experience ."
    ". Graduation Graduation Projects Projects ."
    ". Idioms Idioms Skills Skills .";
}
.PersonalInfo {
  grid-area: PersonalInfo;
}
.SocialInfo {
  grid-area: SocialInfo;
}
.Introduction {
  grid-area: Introduction;
}
.Graduation {
  grid-area: Graduation;
}
.Experience {
  grid-area: Experience;
}
.Projects {
  grid-area: Projects;
}
.Skills {
  grid-area: Skills;
}
.Idioms {
  grid-area: Idioms;
}

.PersonalInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px black solid;
}

.Introduction {
  display: flex;
  border-bottom: 1px black solid;
}

.Graduation {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Idioms {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Experience {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
