.socialInfo__main {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}
.socialInfo__main .github {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}

.socialInfo__main .github p {
  padding-left: 10px;
}

.socialInfo__main .linkedIn {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}

.socialInfo__main .linkedIn p {
  padding-left: 10px;
}
